.container{
  display: flex;
  justify-content: space-between;
}

.container > .btn {
  margin-bottom: 0;
  margin-top: auto;
}

.container > .clr-form-control {
  margin-top: 0;
}

.npt-logs-page {
  margin: 30px;
}

