<div class="npt-library-sidebar" *ngIf="icons">
  <div>
    <app-icons [icons]="icons" (onClickIcons)="onClickIcons($event)"></app-icons>
    <app-members [project]="project"></app-members>
    <div class="alert alert-danger" role="alert" *ngIf="showError">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
          </div>
          <span class="alert-text">
          {{this.errorMsg}}
        </span>
        </div>
      </div>
    </div>
  </div>

  <img src="../../../../assets/net.png" width="200px" style="position: static; bottom: 5px; margin-top: 10px">
</div>
