.npt-cell-button {
    padding: 0px;
}
.npt-button-delete {
    border: none;
}
.npt-button-delete:hover {
    color: red;
    background-color: #ededed;
}
.clr-form {
  margin-top: 0px;
}

.input-class{
  width: 60px;
}

.modal-content{
  max-width: 600px !important;
  width: 600px !important;
}

.npt-projects-overview-page {
  margin: 30px;
}

.clr-input{
  margin-left: 20px;
}

select{
  margin-left: 20px;
}
