<div *ngIf="projects" class="npt-projects-overview-page">
  <div>
    <div style="display: flex; align-items: flex-end;">
      <div>
        <input clrInput placeholder="Search" style="margin-left: 10px; width: 300px;" name="input" [(ngModel)]="searchValue" />
      </div>
      <div style="margin-left: auto;">
        <button class="btn btn-primary" (click)="modalOpened = true">create project</button>
      </div>
    </div>
  </div>

  <clr-datagrid>
    <clr-dg-column>Name</clr-dg-column>
    <clr-dg-column>Description</clr-dg-column>
    <clr-dg-column>Type</clr-dg-column>
    <clr-dg-column>Status</clr-dg-column>
    <clr-dg-column>Date of creation</clr-dg-column>
    <clr-dg-column>Last modified</clr-dg-column>
    <clr-dg-column>Owner name</clr-dg-column>
    <clr-dg-column>Options</clr-dg-column>

    <clr-dg-row *ngFor="let project of filteredProjects" style="text-transform: capitalize">
      <clr-dg-cell>
        <a routerLink="/project/{{project.id}}">{{project.name}}</a>
      </clr-dg-cell>
      <clr-dg-cell>{{project.description}}</clr-dg-cell>
      <clr-dg-cell [style.color]="getTypeColor(project)">
        {{project.type}}
      </clr-dg-cell>
      <clr-dg-cell [style.color]="getStatusColor(project)">
        {{project.status}}
      </clr-dg-cell>
      <clr-dg-cell>{{project.createdAt | date: 'short' }}</clr-dg-cell>
      <clr-dg-cell>{{project.updatedAt | date: 'short' }}</clr-dg-cell>
      <clr-dg-cell>{{project.owner.name}} {{project.owner.surname}}</clr-dg-cell>
      <clr-dg-cell class="npt-cell-button">
        <button class="btn btn-link" (click)="deleteProject(project)" *ngIf="canDelete(project.owner.id)">
          <clr-icon shape="trash" class="is-error"></clr-icon>
        </button>
      </clr-dg-cell>
    </clr-dg-row>
  </clr-datagrid>
</div>

<clr-modal [(clrModalOpen)]="modalOpened">
  <h3 class="modal-title">Create new project</h3>
  <div class="modal-body">
    <form clrForm>
      <clr-input-container>
        <label>name</label>
        <input clrInput [(ngModel)]="newProject.name" placeholder="name" name="name"/>
      </clr-input-container>
      <clr-input-container>
        <label>description</label>
        <input clrInput [(ngModel)]="newProject.description" placeholder="description" name="description"/>
      </clr-input-container>
      <clr-select-container>
        <label>type</label>
        <select clrSelect name="type" [(ngModel)]="newProject.type">
          <option value="public">Public</option>
          <option value="private">Private</option>
        </select>
      </clr-select-container>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="modalOpened = false">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="modalOpened = false; createProject()">Ok</button>
  </div>
</clr-modal>
