<div class="main-container">
  <header class="header-6">
    <div class="branding">
      <img src="../../../../assets/logo.svg" width="40px" style="padding-right: 15px">
      <span class="title">Network Planning Tool</span>
    </div>

    <div class="header-nav" *ngIf="authenticationService.isLoggedIn">
      <a routerLink="/projects" routerLinkActive="active" class="nav-link nav-text">Projects</a>
      <a routerLink="/logs" routerLinkActive="active" class="nav-link nav-text">Models</a>
    </div>

    <div class="auth-class">
      <div *ngIf="authenticationService.isLoggedIn && user" class="name-class">
        {{user.name+' '+user.surname}}
      </div>
      <button *ngIf="authenticationService.isLoggedIn" type="button" class="btn btn-outline npt-logout-btn"
              (click)="logout()">Logout
      </button>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
