<div class="npt-parameters">
    <ng-container *ngFor="let item of project | keyvalue | displayed;">
        <app-parameter [title]="item.displayedName">
            <div [style.color]="getColor(item.value)">{{item.value}}</div>
        </app-parameter>
    </ng-container>
</div>