.npt-collapse-expand-btn {
  margin-left: 10px;
  z-index: 50;
  position: absolute;
  bottom: 16px;
  right: 16px;
}

.cell {
  background: linear-gradient( #dedede, transparent 1px), linear-gradient( 90deg, #dedede, transparent 1px);
  background-size: 15px 15px;
  background-position: center center;
}
