<div style="height: 100%" class="cell">
  <div class="npt-collapse-expand-btn">
    <button type="button" class="btn btn-icon btn-primary" aria-label="home" (click)="expand()">
      <clr-icon shape="resize"></clr-icon>
    </button>
    <button type="button" class="btn btn-icon btn-primary" aria-label="home" (click)="collapse()">
      <clr-icon shape="resize-down"></clr-icon>
    </button>
  </div>
    <div #myNetwork
         style="height: inherit"
    >
    </div>
  <nav>
    <app-model-info (deleteItem)="deleteSelectedItem()" [selectedItem]="selectedItem" *ngIf="selectedItem.basic != '' && selectedItem.type != ''"></app-model-info>
  </nav>
</div>

