/* You can add global styles to this file, and also import other style files */
.main-container .content-container .content-area {
    padding: 0;
}

.clr-form-control {
    margin-top: 0;
    margin-bottom: 12px;
}

.npt-cell-button {
  display: flex;
  justify-content: center;
  padding: 0px !important;
}

.btn-link {
  margin: 0 !important;
}

.close {
  display: none;
}

.modal-dialog{
  width: fit-content !important
}



